.container {
  width: 400px;
  margin-top: 20px;
  padding: 0 20px;
}

.about {
  width: 100%;
}

.btn {
  width: 100%;
}
.collection-item {
  border: 3px solid #fff;
}
.output {
  margin-top: 20px;
}


 .btn.btn-custom { border: 1px solid black;  }


.collection-item{
  background-color: burlywood;
  height:55px;
}


#output-path {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
